/* styles/index.scss */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 34, 34;
  --background-end-rgb: 17, 17, 17;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

/* Additional styles for dark theme */
input[type="text"],
input[type="number"] {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #666;
}
